

html
{
    background-color: rgb(218, 218, 218);
    font-family: 'Alex Brush', cursive;
    font-weight: 700;
    text-align: center;
    font-size: 10px;
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-size: 2rem;
    min-height: 100vh;
    /* centering */
    display:grid;
}

.container
{
    margin: auto;
    width: 20vw;
    height: 20vw;
    display: grid;
    position: relative;
    background-color: rgb(71, 143, 120);
    z-index: -2;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 1.4s ease-in-out 0s;
 }
.rotatingbg{
    background: url("../img/background.jpg") center no-repeat;
    background-color: rgb(71, 143, 120);
    background-size: cover;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transition: transform .3s;
    filter: blur(1px) ;
}


.centering
{ //add to parent
    display: flex;
    justify-content: center;
    align-items: center;
}
